# Database Configuration
MYSQL_ROOT_PASSWORD=your_password

# Application Database Connection
DB_HOST=auditiva-db
DB_NAME=auditiva
DB_USER=appuser
DB_PASSWORD=apppass

# App debug settings
YII_DEBUG=false

# Caddy settings
CADDY_EMAIL=admin@example.com
CADDY_DOMAIN=example.com
DIGITALOCEAN_API_TOKEN=

# App secrets
COOKIE_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=

# Mail settings
MAIL_USERNAME=admin@example.com
MAIL_PASSWORD=
MAIL_SERVER=smtp.office365.com
