# Database Configuration
MYSQL_ROOT_PASSWORD=your_password

# Application Database Connection
DB_HOST=auditiva-db
DB_NAME=auditiva
DB_USER=appuser
DB_PASSWORD=apppass

# App debug settings
YII_DEBUG=false

# Caddy settings
CADDY_EMAIL=admin@auditiva.us
CADDY_DOMAIN=auditiva.us
DIGITALOCEAN_API_TOKEN=

# App secrets
COOKIE_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=

# Mail settings
MAIL_USERNAME=admin@example.com
MAIL_PASSWORD=
MAIL_SERVER=smtp.office365.com
MAIL_TENANT_ID=
MAIL_CLIENT_ID=
MAIL_CLIENT_SECRET=
COMPANY_EMAIL=info@auditiva.us
ADMIN_EMAIL=info@auditiva.us
SUPPORT_EMAIL=info@auditiva.us
DEBUG_EMAIL=info@auditiva.us
